@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f7f5;
    color: #333;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.logo-ifpb,
.logo-brasao {
    height: 100px;
}

.header-texto {
    flex: 1;
    text-align: center;
    max-width: 600px;
}

header {
    background-color: #0A5517;
    background-image: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
    color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

header .subtitulo {
    font-size: 1em;
    font-weight: normal;
    color: #cde2f2;
    text-align: center;
}

.conteudo {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #008020;
    margin-bottom: 10px;
    border-left: 4px solid #008020;
    padding-left: 10px;
    font-size: 1.5em;
}

p {
    text-align: justify;
    margin-bottom: 15px;
    text-indent: 2em;
}

.autores {
    margin-bottom: 20px;
}

.autores p {
    text-align: right;
    width: 100%;
    margin: 4px 0;
}

.formula {
    background-color: #f0f7ff;
    border-left: 4px solid #008020;
    padding: 10px 15px;
    margin: 15px 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #222;
}

.legenda p{
    text-align: center;
    text-indent: 0;
    margin: 0 auto;
    font-size: smaller;
}

@media (max-width: 768px) {
    .logo-ifpb,
    .logo-brasao {
        height: 60px;
    }

    .header-texto {
        flex: 1;
        padding: 0 10px;
        text-align: center;
    }

    header h1 {
        font-size: 1.2em;
    }

    .header-texto .subtitulo {
        font-size: 0.9em;
    }

    .conteudo {
        margin: 20px auto;
        padding: 15px;
    }

    section {
        margin-bottom: 25px;
    }

    p {
        text-indent: 1em;
    }
}

@media (max-width: 480px) {
    p {
        text-align: left;
    }

    h2 {
        font-size: 1.2em;
    }
}
